@model Web_Ban_Hang.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Create.cshtml";
}

<h2>Chi tiết loại sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.IDCate)*@
            <b>Mã loại</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NameCate)*@
            <b>Tên loại</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>